* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.title-container {
    background-image: url(/img/lewis-grayscale.jpeg);
    background-size: cover;
    background-position-y: 54%;
    background-position-x: 50%;
    display: flex;
    justify-content: center;
    padding: 5rem;
    h1 {
        text-align: center;
        font-size: 3rem;
        padding: 0 2rem;
    }
    .helmet {
        height: 100px;
        width: 100px;
        &.flipped {
            transform: scaleX(-1);
        }
    }
}

.bg-container {
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
    border-radius: 5px;
}

.intro {
    padding: 2rem;
}

table {
    margin: 0 auto;
    padding: 0;
    border-collapse: collapse;
    width: 97%;
    text-align: center;
    table-layout: auto;
    tr {
        min-height: 80px;
        th {
            height: 120px;
            max-width: 200px;
            letter-spacing: 0.1rem;
            padding: 0 0.3rem;
            cursor: pointer;
            &:nth-child(odd) {
                background-color: rgb(35, 35, 35);
                color: white;
            }
        }
        td {
            padding: 1rem 0;
            border-bottom: 1px solid rgba(35, 35, 35, 0.2);
            &:nth-child(odd) {
                background-color: rgba(25, 25, 25, 0.1);
            }
        }
        &:first-of-type {
            background: rgb(240, 240, 240);
        }
        &:not(:first-child) {
            td:nth-child(2) {
                padding: 0 0.5rem;
            }
            td:nth-child(14) {
                padding: 0 1rem;
            }
        }
    }
}


